<!DOCTYPE html>
<html ng-app="directiveMadness">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <main-nav>
    </main-nav>

    <main-header>
      Morgan has a lvl 69. Charizard
    </main-header>

    <p colorize>Stuff</p>

    <button mouse>I'm clickable</button>
    <!-- <p hover>DONT HOVER ME</p> -->

    <form ng-controller="formHandler">
      <p ng-if="!(rval)">No number is selected.</p>
      <p ng-show="(rval % 2 === 0)">Selected Number is Even</p>
      <p ng-show="(rval % 2 === 1)">Selected Number is Odd</p>
      <p ng-hide="!(rval)">value is : {{ rval }}</p>
      <input name="r" type="radio" value="1" ng-model="rval">1
      <input name="r" type="radio" value="2" ng-model="rval">2
      <input name="r" type="radio" value="3" ng-model="rval">3
      <input name="r" type="radio" value="4" ng-model="rval">4
      <input name="r" type="radio" value="5" ng-model="rval">5

      <button ng-click="check()"> but</button>
    </form>

    <copyright>
      Morgan && Adrian
    </copyright>
  </body>
</html>
