<!DOCTYPE html>
<html ng-app="directiveMadness">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <div class="container">
    <div ng-controller="QuotesCtrl">

      <form quotes-form name="myForm" ng-submit="submitForm(myForm)">
      </form>

      <p ng-if="(quotes.length == 0)">THERE ARE NO QUOTES HERE</p>

      <table ng-hide="quotes.length == 0" class="table table-inverse">
        <thead>
          <tr>
            <th>Author</th>
            <th>Quote</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr quotes-index ng-repeat="quote in quotes"></tr>
        </tbody>
      </table>
    </div>
  </div>
    <copyright>
      Morgan && Adrian
    </copyright>
  </body>
</html>
