<div class="row">
  <div class="col-xs-3">
    <label>Author: </label>
  </div>
  <div class="col-xs-9">
    <input type="text" name="author" ng-model="newQuote.author" ng-minlength="2" ng-maxlength="32" required>
    <div>
      <p ng-if="myForm.$dirty || (newQuote.author.length < 2)"> Less than 2</p>
      <p ng-if="newQuote.author.length > 32"> Greater than 32</p>
    </div>

  </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <label>Message: </label>
    </div>
    <div class="col-xs-9">
      <input type="text" name="message" ng-model="newQuote.message" ng-minlength="2" required>

      <div>
      <p ng-if="newQuote.message.length < 2"> Less than 2</p>
    </div>
    </div>
  </div>
<input type="submit">