<!DOCTYPE html>
<html ng-app="directiveMadness">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div ng-controller="QuotesCtrl">
      <form quote-form ng-submit="submitForm()">
        <div class="row">
          <div class="col-xs-3">
            <label>Author: </label>
          </div>
          <div class="col-xs-9">
            <input type="text" name="author" ng-model="newQuote.author">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <label>Message: </label>
          </div>
          <div class="col-xs-9">
            <input type="text" name="message" ng-model="newQuote.message">
          </div>
        </div>
        <input type="submit">
      </form>

      <p ng-if="(quotes.length == 0)">THERE ARE NO QUOTES HERE</p>
      <div ng-repeat="quote in quotes">
        <quotes-index></quotes-index>
      </div>
    </div>

    <copyright>
      Morgan && Adrian
    </copyright>
  </body>
</html>
