<!DOCTYPE html>
<html ng-app="directiveMadness">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <div class="container">
    <div ng-controller="ScopesCtrl">

      <label>atwoWay</label>
      <input type="text" ng-model="twoWay" name="twoWay">
      <label>aoneWay</label>
      <input type="text" ng-model="oneWay" name="oneWay">

      <form isolated 
        ng-submit="hello(oneWay)" 
        one-way="{{oneWay}}" 
        two-way="twoWay"
        say-hello="sayHello"
        name="formerino"></form>
    </div>
  </div>
    <copyright>
      Morgan && Adrian
    </copyright>
  </body>
</html>
