.center{
  float: right;
}

input.ng-invalid{
  border: 1px solid #F00;
}

input.ng-valid{
  border: 1px solid green;
}

input.ng-pristine {
  border: 1px solid grey;
}

input{
  display: inline-block;
}

.errors{
  display: inline-block;
}

.error{
  font-family: comic-sans;
  font-size: 10px;
  display: inline-block;
  color: red;
}
